
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.Background {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(241, 228, 209, 0.8999999762);

  .Nutritions_chart {
    width: 147.9rem;
    height: 45.6rem;
    position: absolute;
    left: 1.6rem;
    top: 14.4rem;
    display: flex;
    align-items: center;

    .Breakfast_div {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 38rem 5.5rem 0rem 0rem;
      height: 100%;

      .Breakfast_text {
        flex-shrink: 0;
        font-size: 3.2rem;
        white-space: nowrap;
        line-height: 1.2102272511;
        color: #020323;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        margin: 0rem 11.3rem 1.7rem 0rem;
        font-weight: 400;

        .Breakfast_text-sub-0 {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #020323;
          font-family: Inter, 'Source Sans Pro';
        }
        .Breakfast_text-sub-1 {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #020323;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .Breakfast_Add_icon {
        vertical-align: top;
        flex-shrink: 0;
        width: 6.4rem;
        height: 7.6rem;
        cursor: pointer;
        object-fit: cover;
      }
    }
    .Nutritions_Background_box {
      border-radius: 5.2rem;
      box-sizing: border-box;
      padding: 1.1rem 5rem 1.7rem 3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
      width: 105.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .Carb_Protein_Fat_Chart {
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        padding: 6.9rem 2.6rem 8.8rem 2.6rem;
        width: calc(100% - 67.5rem);
        align-items: center;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3:11');
        margin: 0rem 33.5rem 0.6rem 34rem;
        box-sizing: border-box;

        .Calorie_Calculator {
          margin: 0rem 14.5rem 1.1rem 0rem;
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2102272246;
          color: #000000;

          .Calorie_Calculator-sub-0 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .Calorie_Calculator-sub-1 {
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .kalan_text {
          line-height: 1.2102272246;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          margin-right: 3rem;
          font-size: 3.6rem;
          font-weight: 400;
          flex-shrink: 0;

          .kalan_text-sub-0 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .kalan_text-sub-1 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .carb_prot_fat_div {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 8.2rem 1.6rem 0rem;
        display: flex;

        .carb_text {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 23.2rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
        .protein_text {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 29.9rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
        .fat_text {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
      }
      .carb_prot_fat_greypart {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 2.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .carb_greypart {
          margin-right: 15.2rem;
          width: 22.6rem;
          height: 100%;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #a0a0a0;
          border-radius: 5.2rem;
          flex-shrink: 0;

          .carb_greenpart {
            width: 10.7rem;
            height: 2.4rem;
            background-color: #73f980;
            border-radius: 5.2rem;
          }
        }
        .prot_greypart {
          margin-right: 14.6rem;
          width: 22.6rem;
          height: 100%;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #a0a0a0;
          border-radius: 5.2rem;
          flex-shrink: 0;

          .prot_greenpart {
            width: 10.2rem;
            height: 2.4rem;
            background-color: #73f980;
            border-radius: 5.2rem;
          }
        }
        .fat_greypart {
          width: 22.6rem;
          height: 100%;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #a0a0a0;
          border-radius: 5.2rem;
          flex-shrink: 0;

          .fat_greenpart {
            background-color: #73f980;
            border-radius: 5.2rem;
            width: 17.2rem;
            height: 2.4rem;
          }
        }
      }
      .carb_prot_fat_textlocation {
        margin-right: 5rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .carb_text {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 20.7rem 0.4rem 0rem;
          font-size: 3.6rem;
          font-weight: 400;
        }
        .prot_text {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
        }
        .fat_text {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .background2 {
    top: 87.6rem;
    display: flex;
    align-items: center;
    width: 184.4rem;
    height: 20.5rem;
    position: absolute;
    left: 2.6rem;

    .logout_location {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 127.447rem 1.9rem 0rem;
      align-items: flex-end;
      display: flex;

      .logout {
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 6.8532rem;
        height: 9rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
      }
      .logout_text {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.6532rem;
        max-width: 7.3rem;
        font-size: 3.2rem;
      }
    }
    .food_suggest_location {
      flex-shrink: 0;
      margin: 2.1rem 2.7rem 0rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .food_suggest_icon {
        margin-right: 0.3rem;
        width: 10.2rem;
        height: 10.6rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .food_suggest_text {
        color: #020323;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.5rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .profile_location {
      position: relative;
      flex-shrink: 0;
      margin: 4.5rem 4.2rem 2.3rem 0rem;
      width: 13.3rem;
      height: calc(100% - 6.8rem);

      .profile_icon {
        vertical-align: top;
        width: 13.3rem;
        height: 10.6rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .profile_text {
        top: 9.8rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 3.9rem;
        position: absolute;
        left: 3.1rem;
        white-space: nowrap;
        width: 7.8rem;
        font-weight: 400;
        color: #020323;
      }
    }
    .mainpage_location {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 5.4rem 0rem 2.3rem 0rem;
      height: calc(100% - 7.7rem);

      .mainpage_icon {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.1rem;
        width: 9rem;
        height: 8.9rem;
        object-fit: cover;
      }
      .mainpage_text {
        font-weight: 400;
        line-height: 1.2125;
        color: #020323;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
      }
    }
  }
  .background3 {
    display: flex;
    align-items: center;
    width: 36.8rem;
    height: 7.6rem;
    position: absolute;
    left: 1.6rem;
    top: 61.4rem;

    .Lunch_text {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.8rem 0.4rem 0rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #020323;
      font-family: Inter, 'Source Sans Pro';
    }
    .lunch_icon {
      width: 6.4rem;
      height: 7.6rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .snacks_location {
    position: absolute;
    left: 1.6rem;
    top: 70.4rem;
    display: flex;
    align-items: flex-start;
    width: 36.8rem;
    height: 7.6rem;

    .snacks_text {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 11.7rem 0rem 0rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #020323;
      font-family: Inter, 'Source Sans Pro';
    }
    .snacks_icon {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 6.4rem;
      height: 7.6rem;
      cursor: pointer;
    }
  }
  .dinner_location {
    width: 37rem;
    height: 7.6rem;
    position: absolute;
    left: 1.4rem;
    top: 79.1rem;

    .dinner_text {
      width: 30.7rem;
      position: absolute;
      left: 0;
      font-size: 3.2rem;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      height: 4.4rem;
      top: 0.3rem;
      font-weight: 400;
      color: #020323;
      white-space: nowrap;

      .dinner_text-sub-0 {
        font-weight: 400;
        line-height: 1.2125;
        color: #020323;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
      }
      .dinner_text-sub-1 {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #020323;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .icons8-add-50-2-4-PR6 {
      width: 6.4rem;
      height: 7.6rem;
      cursor: pointer;
      position: absolute;
      left: 30.6rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
