
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.food_search_background {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #f1e4d1;

  .bottom_div {
    width: 184.4rem;
    height: 20.5rem;
    position: absolute;
    left: 2.6rem;
    top: 87.6rem;
    display: flex;
    align-items: center;

    .logout_div {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 127.447rem 1.9rem 0rem;
      align-items: flex-end;
      display: flex;

      .logout_icon {
        margin-bottom: 1.8rem;
        width: 6.8532rem;
        height: 9rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .logout_text {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.6532rem;
        max-width: 7.3rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .food_suggestion_div {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.1rem 2.7rem 0rem 0rem;
      align-items: center;

      .food_suggestion_icon {
        margin-right: 0.3rem;
        width: 10.2rem;
        height: 10.6rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .food_suggestion_text {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.5rem;
      }
    }
    .profile_div {
      margin: 4.5rem 4.2rem 2.3rem 0rem;
      width: 13.3rem;
      height: calc(100% - 6.8rem);
      position: relative;
      flex-shrink: 0;

      .profile_icon {
        width: 13.3rem;
        height: 10.6rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .profile_text {
        top: 9.8rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 3.9rem;
        left: 3.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        width: 7.8rem;
        position: absolute;
      }
    }
    .mainpage_div {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 5.4rem 0rem 2.3rem 0rem;
      height: calc(100% - 7.7rem);

      .mainpage_icon {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.1rem;
        width: 9rem;
        height: 8.9rem;
        cursor: pointer;
        object-fit: cover;
      }
      .mainpage_text {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
  }

  .consumed_favourites_div {
    height: 6.8rem;
    position: absolute;
    left: 12.9rem;
    top: 30.5rem;
    display: flex;
    align-items: center;
    width: 165.8rem;

    .recently_consumed {
      height: 100%;
      font-size: 3.2rem;
      line-height: 1.2125;
      color: #000000;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      margin-right: 54.2rem;
      font-weight: 400;
      align-items: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
      border-radius: 2.5rem;
      width: 55.8rem;
      white-space: nowrap;
    }
    .favourites {
      display: flex;
      flex-shrink: 0;
      width: 55.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
      height: 100%;
      justify-content: center;
      border-radius: 2.5rem;
      white-space: nowrap;
      align-items: center;
    }
  }
  .line1-1 {
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 3.9rem;
    top: 50.7rem;
    background-color: #000000;
  }
  .line2-1 {
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 115.5rem;
    top: 50.3rem;
  }
  .line2-2 {
    position: absolute;
    left: 115.5rem;
    top: 61.3rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
  }
  .line2-3 {
    top: 72.3rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 115.5rem;
  }
  .line2-4 {
    position: absolute;
    left: 115.5rem;
    top: 83.3rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
  }
  .line1-2 {
    left: 3.9rem;
    top: 61.7rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
  }
  .line1-3 {
    position: absolute;
    left: 3.9rem;
    top: 72.7rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
  }
  .line1-4 {
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 3.9rem;
    top: 83.7rem;
    background-color: #000000;
  }
  .first_part_div {
    width: 183.4rem;
    height: 7.4rem;
    position: absolute;
    left: 4.5rem;
    top: 42.3rem;
    display: flex;
    align-items: center;

    .text_1-1 {
      flex-shrink: 0;
      margin: 0.6rem 20.9rem 0rem 0rem;
      max-width: 30.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';

     
      .text_1-1_gram {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .text_1-1_kcal {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.5rem 0.7rem 0rem;
    }
    .text_1-1_icon {
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 39.2rem 0.8rem 0rem;
      width: 6.6rem;
    }
    .text_2-1 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.6rem 21.7rem 0rem 0rem;
      max-width: 29.3rem;

      
      .text_2-1_gram {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .text_2-1_kcal {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.7rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .text_2-1_icon {
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .second_part_div {
    width: 183.4rem;
    height: 8.5rem;
    position: absolute;
    left: 4.5rem;
    top: 52.3rem;
    display: flex;
    align-items: center;

    .text_1-2 {
      margin: 1.7rem 29.1rem 0rem 0rem;
      max-width: 21.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;

      
      .text_1-2_gram {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .text_1-2_kcal {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.5rem 1.8rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .text_1-2_icon {
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 39.2rem 0.7rem 0rem;
      width: 6.6rem;
    }
    .text_2-2 {
      margin: 1.7rem 23.3rem 0rem 0rem;
      max-width: 27.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;

      
      .text_2-2_gram {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .text_2-2_kcal {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .text_2-2_icon {
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.9rem;
    }
  }
  .third_part_div {
    width: 183.4rem;
    height: 8.6rem;
    position: absolute;
    left: 4.5rem;
    top: 63.3rem;
    display: flex;
    align-items: center;

    .text_1-3 {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.8rem 36.1rem 0rem 0rem;
      max-width: 14.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;

      
      .text_1-3_gram {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
      }
    }
    .text_1-3_kcal {
      flex-shrink: 0;
      margin: 0rem 1.7rem 1.5rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .text_1-3_icon {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 39.1rem 0.8rem 0rem;
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
    }
    .text_2-3 {
      max-width: 31.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.4rem 19.4rem 0rem 0rem;

     }
      .text_2-3_gram {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .text_2-3_kcal {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.4rem 2.7rem 0rem;
    }
    .text_2-3_icon {
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 6.6rem;
    }
  }
  .fourth_part_div {
    align-items: flex-start;
    width: 183.4rem;
    height: 8.4rem;
    position: absolute;
    left: 4.5rem;
    top: 74.6rem;
    display: flex;

    .text_1-4 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.6rem 33rem 0rem 0rem;
      max-width: 18rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;

      
      .text_1-4_gram {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .text_1-4_kcal {
      margin: 1.2rem 1.7rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .text_1-4_icon {
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.3rem 39.2rem 0rem 0rem;
    }
    .text_2-4 {
      flex-shrink: 0;
      margin: 1.6rem 37.1rem 0rem 0rem;
      max-width: 13rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';

      
      .text_2-4_gram {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .text_2-4_kcal {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.8rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .text_2-4_icon {
      vertical-align: top;
      flex-shrink: 0;
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
    }
  }

