
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.background_login {
  box-sizing: border-box;
  padding-right: 10.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f1e4d1;
}
.background_login .login_div {
  margin-right: 9.8rem;
  width: 90rem;
  height: 108rem;
  position: relative;
  flex-shrink: 0;
}
.background_login .login_div .img_background {
  width: 18rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.background_login .login_div .image {
  width: 90rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.background_login .user_info_div {
  margin-top: 2.6rem;
  width: 81.4rem;
  height: 77.4rem;
  position: relative;
  flex-shrink: 0;
}
.background_login .user_info_div .login_buttons {
  width: 75.6rem;
  height: 8.4rem;
  position: absolute;
  left: 5.8rem;
  top: 0;
  display: flex;
  align-items: center;
}

.background_login .user_info_div .login_buttons .kayıtBtn {
  width: 27.6rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  flex-shrink: 0;
  margin-top: 1300px;
  margin-left: 100px;
}
.background_login .user_info_div .login_buttons .girisBtn {
  width: 27.6rem;
  height: 8.4rem;
  margin-top:1300px;
  left: 23.9rem;
  top: 69rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  
 
}
.background_login .user_info_div .e-mail_line {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 32rem;
  background-color: #000000;
}
.background_login .user_info_div .password_line {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 52.8rem;
  background-color: #000000;
}
.background_login .user_info_div .e-mail_input {
  width: 10.8rem;
  height: 4.4rem;
  position: absolute;
  left: 2.2rem;
  top: 24.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgba(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}

.background_login .user_info_div .password_input {
  width: 7.9rem;
  height: 4.4rem;
  position: absolute;
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}
.clickable {
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.clickable:hover {
  background-color: #ddd; 
}
